application/message-check-api/data/.flows.json.backup
[{"id":"41567e91.bc76d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67d65597.cac1dc","type":"http in","z":"41567e91.bc76d","name":"Check Message","url":"/checkMessage","method":"post","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["2088bf27.16c6b"]]},{"id":"108c5c73.d39294","type":"http response","z":"41567e91.bc76d","name":"","statusCode":"","headers":{},"x":570,"y":220,"wires":[]},{"id":"2088bf27.16c6b","type":"function","z":"41567e91.bc76d","name":"check message","func":"msg.statusCode = 400;\nvar receivedPayload = msg.payload;\nmsg.payload = {};\nif ('id' in receivedPayload && 'hash' in receivedPayload)\n{\n    var receivedId = receivedPayload['id'];\n    var calculatedHash = context.global.sha256(receivedId.toString());\n    var receivedHash = receivedPayload['hash'];\n    \n    node.log(\"receivedId:     \" + receivedId);\n    node.log(\"receivedHash:   \" + receivedHash);\n    node.log(\"calculatedHash: \" + calculatedHash);\n\n    msg.statusCode = 200;\n    if (calculatedHash !== receivedHash)\n    {\n        node.log(\"Invalid hash\")\n        msg.payload = {'response':'invalid hash'};\n        msg.statusCode = 500;\n    }\n    else if (receivedId % 10 === 0)\n    {\n        var requiredId = (receivedId + 1);\n        node.log(\"Combine hash with id \" + requiredId)\n        msg.payload = {'response':'combine', 'id':requiredId};\n    }\n    else if (receivedId % 2 === 0) \n    {\n        node.log(\"Confirm manually\")\n        msg.payload = {'response':'confirm'};\n    }\n    else\n    {\n        node.log(\"Accepted\")\n        msg.payload = {'response':'accept'};\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["108c5c73.d39294"]]}]