data/web-app/flows.json
[{"id":"3fd48de9.445312","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d87005ba.b464d","type":"mongodb","z":"","hostname":"database-server","port":"27017","db":"messageDB","name":""},{"id":"2783aaba.24e9fe","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"f247c4d1.31d87","type":"ui_group","z":"","name":"Manual handling","tab":"2783aaba.24e9fe","disp":true,"width":"10","collapse":false},{"id":"97df0bd2.98cd78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fab1fb60.52e72","type":"ui_group","z":"","name":"Database","tab":"2783aaba.24e9fe","disp":true,"width":"10","collapse":false},{"id":"7c04a409.9e3c94","type":"ui_group","z":"","name":"Output","tab":"2783aaba.24e9fe","disp":true,"width":"20","collapse":false},{"id":"9fd86b10.1aa2b8","type":"mongodb out","z":"3fd48de9.445312","mongodb":"d87005ba.b464d","name":"","collection":"messages","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":660,"y":180,"wires":[]},{"id":"c5207f67.fb6de","type":"mongodb in","z":"3fd48de9.445312","mongodb":"d87005ba.b464d","name":"","collection":"messages","operation":"find","x":540,"y":320,"wires":[["5045fb0d.5e5f6c"]]},{"id":"b809cb5f.2f2248","type":"ui_form","z":"3fd48de9.445312","name":"Message input","label":"Message input","group":"f247c4d1.31d87","order":0,"width":"6","height":"2","options":[{"label":"Id","value":"id","type":"number","required":true},{"label":"Hash","value":"hash","type":"text","required":true}],"formValue":{"id":"","hash":""},"payload":"","topic":"","x":240,"y":180,"wires":[["9fd86b10.1aa2b8"]]},{"id":"eb4df693.771398","type":"mongodb out","z":"3fd48de9.445312","mongodb":"d87005ba.b464d","name":"","collection":"messages","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":520,"y":400,"wires":[]},{"id":"bd9a3456.2984e","type":"ui_button","z":"3fd48de9.445312","name":"Remove","group":"fab1fb60.52e72","order":0,"width":0,"height":0,"passthru":false,"label":"Clear database","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":240,"y":400,"wires":[["eb4df693.771398"]]},{"id":"2b1c2652.a6604a","type":"ui_button","z":"3fd48de9.445312","name":"Find","group":"fab1fb60.52e72","order":0,"width":0,"height":0,"passthru":false,"label":"Fetch content","color":"","bgcolor":"","icon":"","payload":"{}","payloadType":"json","topic":"","x":230,"y":320,"wires":[["c5207f67.fb6de"]]},{"id":"cad2501f.5f1fa","type":"ui_template","z":"3fd48de9.445312","group":"7c04a409.9e3c94","name":"","order":0,"width":"10","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":320,"wires":[[]]},{"id":"5045fb0d.5e5f6c","type":"json","z":"3fd48de9.445312","name":"","property":"payload","action":"","pretty":false,"x":810,"y":320,"wires":[["cad2501f.5f1fa"]]}]